@font-face {
  font-family: 'Arial-MT';
  src: url("../assets/fonts/Arial-MT.woff"); /* Путь к файлу со шрифтом */
 }

@font-face {
  font-family: 'Montserrat', sans-serif;
}

ul {
  list-style: none;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  min-width: 480px;
  min-height: 100vh;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  color: #fff;
  text-align: center;
  background: url("../assets/img/bg.jpg") center/cover, rgba(0, 0, 0, 0.5);
  /*background: url("../assets/img/bg.jpg") center/cover, rgba(0, 0, 0, 0.5);*/
  background-blend-mode: multiply;
  transition: background-image 1s ease-in-out;
  overflow-x: hidden;
  overflow-y: hidden;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  height: 30vh;
  min-height: 220px;  
  padding: 20px;
}



.player-controls {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 350px;
  margin-bottom: 14px;
}

.soundVolume {
  outline: none;
  -webkit-appearance: none;
  width: 150px;
  height: 7px;
  background-color: #cecece;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 15px;
  width: 15px;
  border-radius: 50%;
  background: #e5aa16;
  cursor: ew-resize;
  box-shadow: 0 0 2px 0 #555;
  transition: background .3s ease-in-out;
}

.duration-player {
  height: 7px;
  background-color: #cecece;
  width: 280px;

}
.progress-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.timer {
  font-size: 12px;
  display: flex;
  flex-direction: row;
  margin-left: 5px;

}.play-list {
  height: 400px;
 }

 .time-active {
   margin-left: 4px;
margin-right: 4px;
 }

audio {
  display: block;
  width: 600px;
  height: 40px;
  color: #cecece;
}

.progress {

  height: 7px;
  background-color: #e5aa16;
}

.play-list {
  text-align: left;
  margin-top: 20px;
}

.play-item {
  position: relative;
  height: 20px;
  width: auto;
  margin-top: 10px;
  background-color: rgba(40, 44, 52, 0.16);
  color: #e6ae25;
  font-size: 15px;
  padding-left: 5px;
  list-style: none;
  opacity: .7;
  cursor: pointer;
  transition: .3s;
}

.play-item:hover {
  opacity: 1;
}
.chb {
  filter: grayscale(100%);
}

.opacity {
  opacity: 1;
  color: #ffc346;
}

.item-active::before {
  color: #C5B358;
}

.player-icon,
.slider-icon,
.change-quote {
  width: 32px;
  height: 32px;
  background-size: 32px 32px;
  background-position: center center;
  background-repeat: no-repeat;
  background-color: transparent;
  border: 0;
  outline: 0;
  opacity: .8;
  cursor: pointer;
  transition: .3s;  
}

.player-icon:hover,
.slider-icon:hover,
.change-quote:hover {
  opacity: 1;
}

.player-icon:active,
.slider-icon:active,
.change-quote:active {
  border: 0;
  outline: 0;  
  transform: scale(1.1);
}

.play {
  width: 40px;
  height: 40px;
  background-size: 40px 40px;
  background-image: url("../assets/svg/play.svg");
}

.pause {
  width: 40px;
  height: 40px;
  background-size: 40px 40px;
  background-image: url("../assets/svg/pause.svg");
}

.play-prev {
  background-image: url("../assets/svg/play-prev.svg");
}

.play-next {
  background-image: url("../assets/svg/play-next.svg");
}


a {
  text-decoration-skip-ink: auto;
}

.weather {
  right: 30px;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  row-gap: 5px;
  width: 180px;
  min-height: 140px;
  text-align: left;
}

.weather-error {
  margin-top: -10px;
}

.description-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  column-gap: 12px;
}

.weather-icon {
  font-size: 44px;
}

.city {
  width: 170px;
  height: 34px;
  padding: 5px;
  font-size: 20px;
  line-height: 24px;
  color: #fff;  
  border: 0;
  outline: 0;
  border-bottom: 1px solid #fff;
  background-color: transparent;
}

.city::placeholder {  
  font-size: 20px;
  color: #fff;
  opacity: .6;
}

.main {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 40vh;
  min-height: 260px;  
  padding: 20px;
}

.slider-icon {
  position: absolute;
  top: 50%;
  margin-top: -16px;
  cursor: pointer;
}

.slide-prev {
  left: 20px;
  background-image: url("../assets/svg/slider-prev.svg");
}

.slide-next {
  right: 20px;
  background-image: url("../assets/svg/slider-next.svg");
}



.time {
  min-height: 124px;
  margin-bottom: 10px;
  font-family: 'Montserrat', serif;
  font-size: 100px;
  letter-spacing: -4px;  
}


.date {
  min-height: 28px;
  font-size: 24px;
  margin-bottom: 20px;
}

.greeting-container {
  position: absolute;
  bottom: 40px;
  display: flex;
  flex-wrap: wrap;
  justify-content: stretch;
  align-items: center;
  min-height: 48px;
  width: 100vw;
  font-size: 40px;
}

.greeting {
  flex: 3.4;
  padding: 10px;
  text-align: right;
}

.name {
  flex: 3.5;
  max-width: 50%;
  padding: 10px;
  font-size: 40px;
  text-align: left;
  color: #fff;
  background-color: transparent;
  border: 0;
  outline: 0;
}

.name::placeholder {
  color: #fff;
  opacity: .6;
}

.footer {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  height: 30vh;
  min-height: 160px;  
  padding: 20px;

}
.quotes-container {
  transition: 0.4s linear;
}

.change-quote {
  margin-bottom: 30px;
  background-image: url("../assets/svg/reload.svg");  
}

.quote {

  min-height: 32px;
  font-size: 20px;
}

.author {
  min-height: 20px;
}

@media (max-width: 768px) {
  .time-date {
    min-height: 80px;
    font-size: 72px;    
  }

  .greeting-container {
    min-height: 40px;
    font-size: 32px;
  }

  .greeting {
    padding: 5px;
  }

  .name {
    font-size: 32px;
    padding: 5px;
  }
}

.lang {
 position: absolute;
  right: 10px;
  bottom: 10px;
  width: 245px;
  height: 35px;
  gap: 10px;
  display: flex;
}

.lang-btn {
  background-color: rgba(211, 203, 194, 0.68);
  color: #282c34;
  width: 100px;
  padding: 0;
  border: none;
  font: inherit;
  font-weight: 500;
  cursor: pointer;
  border-radius: 5px;
}

.lang-btn:hover {
  background-color: rgb(229, 220, 210);
}





.sett-main-button {
 display: block;
  position: absolute;
  left: 30px;
  cursor: pointer;
}

.settings {
  position: absolute;
  left: 30px;
  bottom: 30px;
  width: 300px;
  height: 350px;
  background-color: rgba(161, 161, 175, 0.84);
  display: none;
  justify-content: flex-start;
  flex-direction: column;
}

.close-sett-button {

  cursor: pointer;
  align-self: flex-start;
  margin-top: 10px;
  margin-left: 260px;
}

.input-container {
 width: 280px;
  margin: 15px;
  display: flex;
  flex-wrap: wrap;
  gap:15px;
  justify-content: space-between;
}

.input {
  width: 120px;
  display: flex;
  gap: 5px;
}

label {
  font-weight: 200;
}

.api-container {
  margin: 15px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 15px;

}

.api-text {
  align-self: center;
  font-weight: 400;
}